#
# via cbp 8.2 driver configuration
#
config VIACBP82D_3RD_MODEM
	bool "misc via Support"
	default n
	help
	  This allows misc via.
	  If unsure, say n.
config VIACBP82D_3RD_MODEM_SPI
    bool "misc VIA SPI Support"
    default n
    help
      This allows misc VIA modem through SPI.
      If unsure, say n.
