on early-init

write /sys/block/mmcblk0/queue/nr_requests 256

on init

    mkdir /dev/frz
    mount cgroup none /dev/frz freezer

    chmod 0660 /dev/hwlog_switch
    chown logd system /dev/hwlog_switch

    mkdir /sys/fs/cgroup/pids 0750 root system
    mount cgroup none /sys/fs/cgroup/pids pids
    mkdir /sys/fs/cgroup/pids/unconfirm_app 0750 root system
    chown root system /sys/fs/cgroup/pids/unconfirm_app/cgroup.procs
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/cgroup.procs
    chown root system /sys/fs/cgroup/pids/unconfirm_app/tasks
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/tasks
    chown root system /sys/fs/cgroup/pids/unconfirm_app/pids.group_limit
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/pids.group_limit
    chown root system /sys/fs/cgroup/pids/unconfirm_app/cgroup.event_control
    chmod 0220 /sys/fs/cgroup/pids/unconfirm_app/cgroup.event_control
    chmod 0220 /sys/fs/cgroup/pids/cgroup.event_control

on early-fs

on fs
    restorecon       /sys/class/graphics/fb0/lcd_cabc_mode
    restorecon       /sys/class/leds/torch/flash_thermal_protect

on post-fs
    sys_wp_init_action
    chmod 0440 /proc/kmsg_boot
    chmod 0440 /dev/log/main_boot
    chmod 0440 /dev/log/system_boot
    chmod 0440 /dev/log/radio_boot

on post-fs-data

    mkdir /data/hwzd_logs
    chmod 0775 /data/hwzd_logs
    chown system system /data/hwzd_logs
    restorecon_recursive /data/hwzd_logs

    mkdir /data/log
    chmod 0775 /data/log
    chown system system /data/log
    restorecon_recursive /data/log

    mkdir /data/hisi_logs
    chmod 0770 /data/hisi_logs
    chown root system /data/hisi_logs
    restorecon_recursive /data/hisi_logs

on early-boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=0775,gid=1000

on boot
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag
    chmod 0662 /dev/hwlog_jank

    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_charger
    chown system system /sys/class/hw_power/charger/charge_data/enable_charger
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_thermal
    chown system system /sys/class/hw_power/charger/charge_data/ichg_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/regulation_voltage
    chown system system /sys/class/hw_power/charger/charge_data/regulation_voltage
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/iin_runningtest
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_hiz
    chown system system /sys/class/hw_power/charger/charge_data/enable_hiz
    chmod 0660 /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chown system system /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chmod 0660 /sys/class/hw_power/charger/charge_data/inputcurrent
    chown system system /sys/class/hw_power/charger/charge_data/inputcurrent
    chmod 0660 /sys/class/hw_power/charger/charge_data/voltage_sys
    chown system system /sys/class/hw_power/charger/charge_data/voltage_sys
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_hiz
    chown system system /sys/class/hw_power/charger/charge_data/enable_hiz
    chmod 0660 /sys/class/regulator/regulator.2/state
    chown system system /sys/class/regulator/regulator.2/state
    chmod 0660 /sys/class/regulator/regulator.3/state
    chown system system /sys/class/regulator/regulator.3/state
    chmod 0660 /sys/class/regulator/regulator.6/state
    chown system system /sys/class/regulator/regulator.6/state
    chmod 0660 /sys/kernel/pmic_mntn/pmic_peri_en_ctrl
    chown system system /sys/kernel/pmic_mntn/pmic_peri_en_ctrl

    chown root system /sys/devices/system/cpu/cpu0/cpufreq/msg_policy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/msg_policy

on property:sys.printservice=*
    printservice ${sys.printservice}
    
on restart-sdcardfs
    mkdir /data/media 0770 media_rw media_rw    
    chown media_rw media_rw /data/media
    mount sdcardfs /data/media /mnt/shell/emulated nosuid nodev derive=legacy,reserved_mb=20
    
on property:vold.decrypt=trigger_reset_main
    class_reset main
    class_reset late_start
    setprop vold.crypto_support_innersd 1
    
on property:vold.decrypt=trigger_restart_min_framework
    trigger restart-sdcardfs
    trigger start_main_class
    
on property:vold.decrypt=trigger_restart_framework
    trigger restart-sdcardfs
    trigger start_main_class
    trigger start_latestart_class
    trigger start_other_action
    trigger data_ready

on property:vold.decrypt=trigger_default_encryption
    start surfaceflinger
    start defaultcrypto

on property:vold.decrypt=trigger_shutdown_framework
    trigger data_not_ready
on start_main_class
    class_start main

on start_latestart_class
    class_start late_start

on start_other_action
    start gpsdaemon
    exec /system/bin/start_110x_service.sh

on nonencrypted
    trigger start_latestart_class
    trigger data_ready

on verify_cust_oeminfo_action
    verify_cust_oeminfo

on data_ready
    verify_cust_oeminfo
    setprop sys.userdata_is_ready 1
    write /proc/post-fs-data 1
    write /proc/apanic_console 1
    setprop sys.usb.config ${sys.usb.config}

on data_not_ready
    setprop sys.userdata_is_ready 0
    write /proc/post-fs-data 0


on property:bastet.service.enable=true
    start bastetd

service jankservice /system/bin/jankservice
    class late_start

service fuse_sdcard1rw /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

   service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

   service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1015 -d /mnt/media_rw/usbotg /storage/usbotg
   class late_start
   disabled

service preparesdservice /system/bin/vdc volume storagetosd
   class main
   disabled
   oneshot

on property:persist.sys.primarysd=*
   start preparesdservice

service logserver /system/bin/logserver
    class late_start
    user root
    group system
    oneshot
    seclabel u:r:logserver:s0

service logctl_service /sbin/logctl_service -m 1
    class late_start
    user root
    group system
    oneshot
    seclabel u:r:hisilogcat:s0

service logcat_service /sbin/logctl_service -m 1 -t 1
    class late_start
    user root
    group system
    oneshot
    seclabel u:r:hisilogcat:s0

service fac_log_service /system/bin/factory_log_service -m 1
    class late_start
    user root
    group system
    disabled
    oneshot
    seclabel u:r:hisilogcat:s0

service applogcat /system/bin/logcat -v threadtime -r4096 -z 10 -n 5 -f /data/android_logs/applogcat-log
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service rillogcat /system/bin/logcat -b radio -v threadtime -r4096 -z 5 -n 5 -f /data/android_logs/rillogcat-log
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service kmsglogcat /sbin/kmsgcat -l -r 4096 -z 5 -n 5 -f /data/android_logs/kmsgcat-log
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service inputlogcat /system/bin/eventcat -lrt -k 1024 -z 5 -m 5 -f /data/android_logs/input-log
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service chargelogcat /system/bin/chargelogcat -r 4096 -n 2 -z 1 -t 5 -p /data/android_logs/
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service sleeplogcat /system/bin/sleeplogcat -t 2 -p /data/android_logs/ -f /system/etc/pwrlog.cfg
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

service modemlogcat /system/bin/modemlogcat_lte -l
    class late_start
    user root
    group system
    disabled
    oneshot

service modematserver /system/bin/modemlogcat_lte -f hidp
    class late_start
    user root
    group system
    disabled
    oneshot

service dumptool /system/bin/dumptool
    class late_start
    seclabel u:r:logserver:s0

service hw_cdma_service /system/bin/hw_cdmamodem_service /dev/acm_cdma_log /dev/ttySPI3 /dev/ttySPI1
    class main
    user root
    disabled

service ddrtest /system/bin/do_ddrtest
    user root
    disabled
    oneshot

service stop_ddrtest /system/bin/do_ddrtest
    user root
    disabled
    oneshot

service thermal-daemon /system/bin/thermal-daemon
    class main
    user system 
    group system

service hwpged /system/bin/hwpged
    class main
    socket MsgHubSock stream 0660 root system
    user root

service powerlogd /system/bin/powerlogd
    class core
    socket powerlogd stream 0600 system system
    socket powerlogdr seqpacket 0600 system system
    socket powerlogdw dgram 0220 system system

service chargemonitor /system/bin/chargemonitor
    class late_start
    user root
    group system
    seclabel u:r:hisilogcat:s0

on property:debug.rt.ddr.test=1
    stop ddrtest
    start ddrtest
on property:debug.rt.ddr.test=2
    start ddrtest
on property:debug.rt.ddr.test=3
    start ddrtest
on property:debug.rt.ddr.test=4
    start stop_ddrtest

service mapper /system/bin/sh /system/bin/mappersh
    class late_start
    user root
    group system
    disabled

on property:persist.sys.huawei.debug.on=*
    restart logcat_service

on property:ro.logsystem.usertype=*
    write /proc/log-usertype ${ro.logsystem.usertype}

service bastetd /system/bin/bastetd
    class main
    user root
    group root

