on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot

on boot
    chown system system /sys/class/leds/lcd_backlight0/brightness
    chmod 644 /sys/class/leds/lcd_backlight0/brightness
    chown system system /sys/class/graphics/fb0/sbl_ctrl
    chown system system /sys/class/graphics/fb0/lcd_color_temperature
    chown system system /sys/class/graphics/fb0/led_rg_lcd_color_temperature
    chown system system /sys/class/graphics/fb0/lcd_comform_mode
    chown system system /sys/class/graphics/fb0/lcd_starlight_mode
    chown system system /sys/class/graphics/fb0/lcd_cabc_mode
    chown system system /sys/class/graphics/fb0/lcd_hkadc
    chown system system /sys/class/graphics/fb0/lcd_checksum
    chown system system /sys/class/graphics/fb0/lcd_bist_check
    chown system system /sys/class/graphics/fb0/lcd_check_reg
    chown system system /sys/class/graphics/fb0/lcd_mipi_detect
    chown system system /sys/class/graphics/fb0/lcd_model
    chown system system /sys/class/graphics/fb0/lcd_voltage_enable
    chown system system /sys/class/graphics/fb0/frame_count
    chown radio radio /sys/class/graphics/fb0/mipi_dsi_bit_clk_upt
    chown system system /sys/class/graphics/fb0/lcd_status
    chown system system /sys/class/graphics/fb0/amoled_pcd_errflag_check
    chown system system /sys/class/ina231/ina231_0/ina231_debug
    chown system system /sys/class/ina231/ina231_0/ina231_set
    chown system system /sys/class/ina231/ina231_0/ina231_value
    chown system system /sys/class/ina231/ina231_1/ina231_debug
    chown system system /sys/class/ina231/ina231_1/ina231_set
    chown system system /sys/class/ina231/ina231_1/ina231_value
    chown system system /sys/class/graphics/fb0/amoled_acl
    chown system system /sys/touchscreen/ic_ver
    chown system system /sys/touchscreen/hw_reset
    chown system system /sys/touchscreen/hw_irq_stat
    chown system system /sys/touchscreen/drv_debug
    chown system system /sys/touchscreen/sleep_status
    chown system system /sys/touchscreen/easy_wakeup_gesture
    chown system system /sys/touchscreen/easy_wakeup_control
    chown system system /sys/touchscreen/easy_wakeup_position
    chown system system /sys/touchscreen/easy_wakeup_supported_gestures
    chown system system /sys/touchscreen/touch_glove
    chown system system /sys/touchscreen/touch_window
    chown system system /sys/touchscreen/touch_sensitivity
    chown system system /sys/touchscreen/fw_update_sd
    chown system system /sys/touchscreen/touch_chip_info
	chown system system /sys/touchscreen/roi_enable
	chown system system /sys/touchscreen/roi_data
	chown system system /sys/touchscreen/roi_data_debug
    chown system system /sys/touchscreen/hw_mmi_index
    chown system system /sys/touchscreen/cyttsp5_device_access.main_ttsp_core/rawdata_check
    chown system system /sys/touchscreen/cyttsp5_device_access.main_ttsp_core/command
    chown system system /sys/touchscreen/cyttsp5_device_access.main_ttsp_core/response
    chown system system /proc/touchscreen/data
    chown system system /proc/touchscreen/dumpdata
    chown system system /proc/touchscreen/rawdata
    chown system system /sys/devices/platform/huawei_tp_color/tp_color_info
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/delay_off
    chown system system /sys/class/leds/blue/delay_on





service device-monitor /system/bin/device_monitor
     class main
     user root
     group system
