config HI6XXX_PLATFORM_REMOTE_FILE
	bool "Hisilicon Kirin620 platform remote file system support"
	depends on HI6XXX_MODEM_PLATFORM
	default n
	help
	  Say yes here to support the hisilicon kirin620 platform remote file system 
